@mixin bg-color-primary {
    background-color: var(--c-0-100);
    color: var(--c-1-100);
}

@mixin bg-color-secondary {
    background-color: var(--c-0-100);
    color: var(--c-2-100);
}

@mixin bg-color-tertiary {
    background-color: var(--c-1-100);
    color: var(--c-0-100);
}

@mixin bg-color-dark {
    background-color: var(--c-1-100);
    color: var(--c-0-100);
}

@mixin bg-color-active {
    background-color: var(--c-2-100);
    color: var(--c-0-100);
}

@mixin bg-color-valid {
    background-color: var(--c-4-100);
    color: var(--c-0-100);
}

@mixin bg-color-error {
    background-color: var(--c-3-100);
    color: var(--c-0-100);
}

@mixin border-primary {
    border-color: var(--c-1-100);
}

@mixin border-secondary {
    border-color: var(--c-2-100);
}

@mixin border-tertiary {
    border-color: var(--c-3-100);
}

@mixin border-active {
    border-color: var(--c-4);
}

@mixin borderContainer($color: 'neutral', $opacity: 1) {
    $appendOpacity: '';
    @if $opacity !=1 {
        $appendOpacity: '-'+$opacity
    }
    border: 1px solid;
    border-radius: 15px;
    @if $color=='neutral' {
        border-color: var(--c-0-100+$appendOpacity);
    }
    @if $color=='primary' {
        border-color: var(--c-1-100+$appendOpacity);
    }
    @if $color=='secondary' {
        border-color: var(--c-2-100+$appendOpacity);
    }
    @if $color=='error' {
        border-color: var(--c-3-100);
    }
    @if $color=='correct' {
        border-color: var(--c-4);
    }
}

@mixin transition-primary {
    transition: all 1s ease;
}

@mixin transition-secondary {
    transition: all 1s ease;
}

@mixin font-secondary {
    font-family: var(--font-secondary);
}

@mixin flex {
    display: flex;

    &.vertical{
        flex-direction: column;

        .flex_footer{
            margin-top: auto;
        }
    }

    &.horizontal{
        flex-direction: row;
    }

    &.sb{
        justify-content: space-between;
    }

    &.spliter{
        &-5{
            gap: var(--m-5);
        }

        &-6{
            gap: var(--m-6);
        }
    }
}